.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    background-color: #d34735;
}
.logo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ab2a19;
}

.show_buttons {
    margin-top: 20px;
    cursor: pointer;
    font-size: 30px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-left: 190px;
}

.button {
    text-decoration: none;
    color: white;
    background-color: #ed6b5a;
    width: 500px;
    height: 60px;
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_empty {
    text-decoration: none;
    color: white;
    background-color: #ffb8af;
    width: 500px;
    height: 60px;
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}